<footer class="text-center text-white" style="background-color: #7f7373; padding: 0.3rem 0;">
    <div class="container" style="max-width: 960px; margin: auto;">
  
      <!-- Social Media Icons -->
      <div class="mb-2">
        <a class="text-dark mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="text-dark mx-2" href="#"><i class="fab fa-twitter"></i></a>
        <a class="text-dark mx-2" href="#"><i class="fab fa-google"></i></a>
        <a class="text-dark mx-2" href="#"><i class="fab fa-instagram"></i></a>
        <a class="text-dark mx-2" href="#"><i class="fab fa-linkedin"></i></a>
        <a class="text-dark mx-2" href="#"><i class="fab fa-github"></i></a>
      </div>
  
      <!-- Copyright -->
      <div class="text-dark small" style="padding: 0.2rem 0;">
        © 2025 NamasteStay Private Limited
      </div>
  
    </div>
  </footer>
  